In [11]:
import pandas as pd
df = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",header = None)
df.columns = ["sepal_l","sepal_w","petal_l","petal_w","out"]
df.head()

   sepal_l  sepal_w  petal_l  petal_w          out
0      5.1      3.5      1.4      0.2  Iris-setosa
1      4.9      3.0      1.4      0.2  Iris-setosa
2      4.7      3.2      1.3      0.2  Iris-setosa
3      4.6      3.1      1.5      0.2  Iris-setosa
4      5.0      3.6      1.4      0.2  Iris-setosa

In [14]:
tx = df.groupby("out").agg("mean").reset_index()
tx.head()

               out  sepal_l  sepal_w  petal_l  petal_w
0      Iris-setosa    5.006    3.418    1.464    0.244
1  Iris-versicolor    5.936    2.770    4.260    1.326
2   Iris-virginica    6.588    2.974    5.552    2.026

In [15]:
tx.to_csv("summary_iris.csv")